*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

body{
font-family: 'Poppins', sans-serif;
background: black;
color: white;
}

header{
background: darkblue;
color: white;
padding: 20px 40px;
display: flex;
justify-content: space-between;
align-items: center;
position: sticky;
top: 0;
z-index: 999;
}

header h1{
color: orange;
}

nav a {
color: white;
text-decoration: none;
margin-left: 25px;
font-weight: 300;
}

nav a:hover {
color: orange;
}

.product-detail{
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
padding: 60px 40px;
gap: 40px;
}

.product-image{
max-width: 450px;
}

.product-image img{
width: 100%;
border-radius: 10px;
}

.product-info{
max-width: 500px;
}

.product-info h2{
font-size: 32px;
margin-bottom: 10px;
}

.product-info p{
font-size: 16px;
margin-bottom: 15px;
line-height: 1.6;
}

.price{
font-size: 24px;
font-weight: bold;
margin-bottom: 20px;
}

.size-select{
margin-bottom: 20px;
}

.size-select label{
font-weight: 500;
}

.size-select select{
padding: 10px;
width: 100%;
margin-top: 5px;
border-radius: 6px;
border: 1px solid red;
font-size: 16px;
}

.btn{
background: orange;
color: white;
padding: 12px 25px;
border: none;
border-radius: 6px;
cursor: pointer;
font-size: 16px;
transition: background 0.3s ease;
}

.btn:hover{
background: red;
}

.back-link{
display: inline-block;
color: white;
text-align: center;
padding: 30px 10px;
margin-top: 60px;
}


footer{
background: darkblue;
color: white;
text-align: center;
padding: 30px 10px;
margin-top: 60px;
}